

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-1 mb-4">

            <br>
            <br>        
            <h1 class="text-center" style="color: black">Especialistas</h1>
            <div class="list-group bg-light">
                <button type="button" class="list-group-item btn btn-secondary" (click)="elegirPaciente(paciente)"
                *ngFor="let paciente of pacientes">
                <span>{{paciente.mail}}</span>
                </button>  
            </div>
        </div>
        <div class="col-md-8 order-md-2">

            <!-- //////////////////////////////////////// -->

            <br><br>
            <h1 style="text-align: center;" class="mb-3">Datos</h1>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="edad">Nombre</label>
                    <input name="nombre" [(ngModel)]="paciente.nombre" [readonly]="true" class="form-control"/>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apellido">Apellido</label>
                    <input name="apellido" [(ngModel)]="paciente.apellido" [readonly]="true" class="form-control"/>
                </div>
            </div>
            <div class="mb-3">
                <label for="mail">Mail</label>
                <input name="mail" [(ngModel)]="paciente.mail" [readonly]="true" class="form-control"/>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="edad">Edad</label>
                    <input name="edad" [(ngModel)]="paciente.edad" [readonly]="true" class="form-control"/>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="dni">Dni</label>
                    <input name="dni" [(ngModel)]="paciente.dni" [readonly]="true" class="form-control"/>
                </div>
            </div>
            <div class="mb-3">
                <label for="obraSocial">Obra Social</label>
                <input name="obraSocial" [(ngModel)]="paciente.obraSocial" [readonly]="true" class="form-control"/>
            </div>
            <div>
                <br>
                <button class="w-100 btn btn-primary" routerLink="../Historia" [state]="{ mail: paciente.mail }">Historia Clinica</button> 
            </div>
             <br>
             <img *ngIf="paciente.imagenes[0] != ''" src="{{paciente.imagenes[0]}}" alt="image" class="imagen">

            <!-- /////// -->
            
        </div>
    </div>
</div>