
<!-- PopUp -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-bg-dark" style="text-align: center;">
      <div class="modal-body" style="text-align: center;">
        
        <h2>Nueva especialidad</h2>
        <input [(ngModel)]="especialidadAux" type="especialidadAux" class="form-control rounded-3">
        <label style="color: black;" for="floatingInput">especialidadAux</label>
        <div>
          <button type="button" class="btn btn-dark" (click)="agregarEspecialidad()">Agregar</button>
          <button type="button" class="btn btn-dark" (click)="cerrarPopUp()">cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PopUp -->





<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1"
   role="dialog" id="modalSignin">
  <div class="modal-dialog"  role="document">
    <div class="modal-content rounded-4 shadow">
      
      <div *ngIf="!usuarioAprobado">
        <br>
        <h1 style="text-align: center; color: black;">Registrar</h1>
        <h2 style="text-align: center; color: black;">{{tipoUsuario}}</h2>
        <br>

      <div class="modal-body p-5 pt-0">
      <div class="form-floating mb-3" *ngIf="tipoUsuarioElegido != 'Admin'">
          <button class="w-50 mb-2 btn btn-lg rounded-3" [ngClass]="{'btn-success': tipoUsuario == 'Paciente', 'btn-secondary': tipoUsuario != 'Paciente'}"(click)="seleccionarEspecialidad('paciente')">Paciente</button>
          <button class="w-50 mb-2 btn btn-lg rounded-3" [ngClass]="{'btn-success': tipoUsuario == 'Especialista', 'btn-secondary': tipoUsuario != 'Especialista'}" (click)="seleccionarEspecialidad('especialista')">Especialista</button>        
      </div>
      <div class="form-floating mb-3" *ngIf="tipoUsuarioElegido == 'Admin'">
        <button class="w-100 mb-2 btn btn-lg rounded-3" [ngClass]="{'btn-success': tipoUsuario == 'Paciente', 'btn-secondary': tipoUsuario != 'Paciente'}"(click)="seleccionarEspecialidad('paciente')">Paciente</button>
        <br>
        <button class="w-100 mb-2 btn btn-lg rounded-3" [ngClass]="{'btn-success': tipoUsuario == 'Especialista', 'btn-secondary': tipoUsuario != 'Especialista'}" (click)="seleccionarEspecialidad('especialista')">Especialista</button>        
        <br>
        <button class="w-100 btn btn-lg rounded-3" [ngClass]="{'btn-success': tipoUsuario == 'Admin', 'btn-secondary': tipoUsuario != 'Admin'}" (click)="seleccionarEspecialidad('admin')">Admin</button>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="nombre" type="nombre" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Nombre</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="apellido" type="apellido" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Apellido</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="edad" type="edad" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Edad</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="dni" type="dni" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">DNI</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="mail" type="mail" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Mail</label>
      </div>

      <div class="form-floating mb-3" *ngIf="tipoUsuario == 'Paciente'">
        <input [(ngModel)]="obraSocial" type="obraSocial" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Obra Social</label>
      </div>

      <!-- Dropdown -->
      <div class="form-floating mb-3" *ngIf="tipoUsuario == 'Especialista'">
      <div class="btn-group w-100" dropdown #dropdown="bs-dropdown" [autoClose]="false">
        <button id="button-basic" dropdownToggle type="button" 
           class="btn btn-lg btn-secondary dropdown-toggle"
           aria-controls="dropdown-basic">Agregar especialidad<span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu style="text-align: center;" class="dropdown-menu w-100"
           role="menu" aria-labelledby="button-basic">
           <button dropdownToggle (click)="elegirEspecialidad(esp)" *ngFor="let esp of especialidades" class="dropdown-item">{{esp}}</button>
           <li class="divider dropdown-divider"></li>
           <button dropdownToggle class="dropdown-item" (click)="abrirPopUp()">Otra</button>
        </ul>
     </div>
    </div>
      <!-- Dropdown -->

      <div *ngIf="tipoUsuario == 'Especialista'" class="alert alert-dark" role="alert">
        <div *ngFor="let especialidad of especialidadesUsuario">
          <button class="w-100 btn button" (click)="eliminarEspecialidadUsuario(especialidad)">{{especialidad}} 
          </button>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="imagenes[0]" type="imagen" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Imagen</label>
      </div>

      <div class="form-floating mb-3" *ngIf="tipoUsuario == 'Paciente'">
        <input [(ngModel)]="imagenes[1]" type="imagen2" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Imagen 2</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="password" type="password" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Contraseña</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="passwordRepetir" type="password" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
        <label style="color: black;" for="floatingInput">Repetir contraseña</label>
      </div>

        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" (click)="registrarUsuario()">Registrarse</button>
        <br>
        <p style="color: red;">{{mensajeError}}</p>

      </div>
    </div>

    <div *ngIf="usuarioAprobado" style="width: 500px; white-space: pre-line;">
      <br>
      <h1 style="text-align: center; color: black;">{{tituloUsuarioAprobado}}</h1>
      <p style="text-align: center; color: black;">{{textoUsuarioAprobado}}</p>
    </div>

    </div>
  </div>
</div>
