   


  <div class="row"> 
    <div class="col-sm-6">

<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
<div class="modal-dialog"  role="document">
  
 <div class="modal-content rounded-4 shadow">
     <br>
     <h1 style="text-align: center; color: black;">Ingresar</h1>
     <br>

   <div class="modal-body p-5 pt-0">
       <div class="form-floating mb-3">
         <input [(ngModel)]="mail" type="email" class="form-control rounded-3" (ngModelChange)="resetearMensajeError()" id="floatingInput" placeholder="name@example.com">
         <label style="color: black;" for="floatingInput">Email</label>
       </div>
       <div class="form-floating mb-3">
         <input [(ngModel)]="password" type="password" class="form-control rounded-3" id="floatingPassword" (ngModelChange)="resetearMensajeError()" placeholder="Password">
         <label style="color: black;" for="floatingPassword">Contraseña</label>
       </div>
       <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" (click)="ingresarUsuario()">Login</button>
       <br>
       <p style="color: red;">{{mensajeError}}</p>
   </div>
 </div>
</div>
</div>
</div>
<div style="text-align: center" class="col-sm-6">
  <br>
  <br>
  <h1>Acceso Rapido</h1>
  <p>Pacientes</p>
  <button class="imagenBoton"><img class="imagenBoton sombrita" src="{{this.usuariosAccesoRapido[0].img}}" (click)="ingresadoRapido(0)" height="80px" width="80px" alt="Italian Trulli"></button>
  <br>
  <button class="imagenBoton"><img class="imagenBoton sombrita" src="{{this.usuariosAccesoRapido[1].img}}" (click)="ingresadoRapido(1)" height="80px" width="80px" alt="Italian Trulli"></button>
  <br>
  <button class="imagenBoton"><img class="imagenBoton sombrita" src="{{this.usuariosAccesoRapido[2].img}}" (click)="ingresadoRapido(2)" height="80px" width="80px" alt="Italian Trulli"></button>
  <br><br>
  <p>Especialistas</p>
  <button class="imagenBoton"><img class="imagenBoton sombrita" src="{{this.usuariosAccesoRapido[3].img}}" (click)="ingresadoRapido(3)" height="80px" width="80px" alt="Italian Trulli"></button>
  <br>
  <button class="imagenBoton"><img class="imagenBoton sombrita" src="{{this.usuariosAccesoRapido[4].img}}" (click)="ingresadoRapido(4)" height="80px" width="80px" alt="Italian Trulli"></button>
  <br><br>
  <p>Admin</p>
  <button class="imagenBoton"><img class="imagenBoton sombrita" src="{{this.usuariosAccesoRapido[5].img}}" (click)="ingresadoRapido(5)" height="80px" width="80px" alt="Italian Trulli"></button>
</div>
</div>


